<div class="modal-dialog">
    <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close pull-right" (click)="close()" >&times;</button>
         <h4 class="modal-title">{{title || 'Add a Student'}}</h4>
       </div>
       <div class="modal-body">
         <div class="col-md-6">
            <div class="input">
                <input class="form-control" placeholder="">
                <div class="input-group-addon"></div>
              </div>
         </div>
         <div class="col-md-6">
           
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" (click)="close()">OK</button>
       </div>
    </div>
 </div>