.navbar {
  .logo {
    height: 12px; // width: 106px;
  }
  #students {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
  }

  .margin-right {
    margin-right: 15px; 
  }
  .no-padding-right {
      padding-right: 0; 
  }
  .no-padding-left {
      padding-left: 0; 
  }
  .circle {
    display: inline-block;
    min-width: 20px;
    min-height: 20px; 
    padding: 2px 4px;
    color: #fff;
    text-align: center;
    border-radius: 50px;
    text-shadow: none;
    line-height: 10px;
    background-color: #e85656;
    font-size: 11px;
}
  background-color: #1F2536;
  .navbar-nav>li>a {
    color: #FFF;
  }
  a.navbar-brand,
  a.navbar-nav {
    color: white;
  }
}

// @media only screen and (max-width : 600px) {
//   .navbar{
//     position: fixed;
//     width: 100%;
//     left: 0;
//     bottom: 0;
//     transform: translateY(275px);
//     z-index: 100;
//     transition: 1s ease-in;
//   }

//   .open{
//     width: 100%;
//     top: 0;
//     left: 0;
//     height: 100%;
//     transform: translateY(0px);
//   }

//   .bottom-handle{
//     height: 20px;
//     background: #1F2536;
//       width: 100px;
//       height: 100px;
//       border-radius: 50px;
//       transform: translateY(-35px);
//       margin : 0 auto;
//       padding: 5px;
//   }

//   .line{
//     height: 4px;
//     width: 20px;
//     border-radius: 5px;
//     background: white;
//     margin: 3px auto;
//   }
  
// }
