<nav id="nav" class="navbar navbar-toggleable-sm navbar-fixed-top navbar-light bg-faded">
    <div class="bottom-handle d-block mx-auto" (click)="toggleNavBar();">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div>
        <a class="navbar-brand" href="#">
            <img class="logo" src="../../../assets/images/enrollme-logo.png" />
        </a>
        <a class="open" (click)="toggleNavBar();">
            <img class="close" src="../../../assets/images/close-icon-white.svg" />
        </a>
    </div>
    <ul class="navbar-nav  navbar-right">
        <li class="nav-item">
            <i class="fa fa-briefcase open" aria-hidden="true"></i><a class="nav-link" id="students" href="">Students</a>
            <span class="circle">5</span>
        </li>
        <li class="nav-item">
            <i class="fa fa-briefcase open" aria-hidden="true"></i><a class="nav-link" href="">Teachers</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o desktop-icon" aria-hidden="true"></i> Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
            </div>
        </li>
    </ul>
</nav>