<div class="row margin-sides-zero">
  <md-card class="card">
    <md-card-content>
      <div class="row" justify-content-center>
        <div class="col-md-3">
          <img md-card-image class="card-img" src="../../../assets/images/avatar.svg" alt="Avatar">
        </div>
        <div class="col-md-6 my-auto">
          <div class="row name justify-content-center">
            <h3>Brett Sanchez</h3>
            <div class="pencil my-auto">
              <i class="fa fa-pencil oval" aria-hidden="true"></i>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <span>Grade Level</span>
              <h2>4</h2>
            </div>
            <div class="col-4">
              <span>Grade Level</span>
              <h2>3</h2>
            </div>
            <div class="col-4">
              <span>Grade Level</span>
              <h2>4.0 A+</h2>
            </div>
          </div>
        </div>
        <div class="col-md-3 my-auto h-100 border-left">
          <div class="row name justify-content-center">
            <p>80% of Class Enrollment Complete</p>
            <div class="row classes">
                <div class="col-6 col-md-6">
                    <div class="oval-3 red"><i class="fa fa-times" aria-hidden="true"></i></div>
                    <span>English</span>
                </div>
                <div class="col-6 col-md-6">
                    <div class="oval-3 green"><i class="fa fa-check" aria-hidden="true"></i></div><span>History</span>
                </div>
                <div class="col-6 col-md-6">
                    <div class="oval-3 green"><i class="fa fa-check" aria-hidden="true"></i></div><span>Math</span>
                </div>
                <div class="col-6 col-md-6">
                    <div class="oval-3 green"><i class="fa fa-check" aria-hidden="true"></i></div><span>Science</span>
                </div>

            </div>

          </div>

        </div>
      </div>

    </md-card-content>
    <!-- <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions> -->
  </md-card>
</div>
