<div class="container top-bar">
    <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="align-self-center border-right">
            <h3>Student Enrollment</h3>
          </div>
          <!-- <div class="col hr align-self-center"></div> -->
          <div class="align-self-center">
              <form>
                  <md-select placeholder="GRADE 4" name="grade">
                    <md-option *ngFor="let grade of grades" [value]="grade.value">
                      {{grade.viewValue}}
                    </md-option>
                  </md-select>
                </form>
            </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 align-self-center student-btn">
        <button type="button" class="btn pull-right blur-btn">Add Student</button>
      </div>
    </div>
  </div>
  <div class="container">
  <app-profile-bar></app-profile-bar>
</div>
