/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
// @import '~https://fonts.googleapis.com/icon?family=Material+Icons'; // import for using material icons
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
// import for using the default material theme indigo-pink

$GRAY : #1F2536;
$fontFamily: "Open Sans";
$backgroundDash: #F1F6FA;
body {
  font-family: $fontFamily;
}

h3 {
  font-size: 20px;
  line-height: 27px;
}

app-home {
  font-family: $fontFamily;
  color: #1F2536;
}

.main-dash {
  background-color: $backgroundDash;
}

//vertical align center 
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

md-card {
  max-width: 94%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

// select drop down 
.selectWrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #CDDBE5;
  border-radius: 3px;
  background: #FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;
}
.selectWrapper select {
  padding: 12px 30px 12px 20px;
  font-size: 14px;
  line-height: 18px;
  color: #474C4F;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: ellipsis;
}
